.myphoto-section {
  min-height: 500px;
}

.bg-myphoto-dark {
  background-color: #504747;
  color: white;
}

.bg-myphoto-light {
  background-color: white;
  color: #504747
}

.bg-myphoto-welcome {
  background-image: url('../images/skyline.png');
  background-size: cover;
  color: #504747
}

.jumbotron-welcome {
  background-image: url('../images/skyline.png');
  background-size: cover;
  color: white;
}

.bg-myphoto-dark .nav-tabs a {
  color: white;
}

.navbar-myphoto {
  background-color: #504747;
  border-color: black;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-myphoto .navbar-brand {
  color: white;
  font-weight: bold;
}

.navbar-myphoto .nav-item > .nav-link {
  color: white;
}

.navbar-myphoto .nav-item > .nav-link:hover {
  background-color: #504747;
  /* color: gray; */
}

/* .navbar-myphoto .nav-item > .active {
  color: gray !important;
  text-decoration: underline;
} */

.navbar-myphoto .nav-pills > li.active > a {
  background-color: #504747;
  color: gray;
}

.navbar-myphoto .dropdown-menu {
  background-color: #504747;
  border-color: black;
}

.navbar-myphoto .dropdown-menu > a {
  color: white;
  background-color: #504747;
}

.navbar-myphoto .dropdown-menu > a:hover,
.navbar-myphoto .dropdown-menu > a:focus,
.navbar-myphoto .dropdown-menu > .active > a:focus {
  background-color: #504747;
  color: gray;
}

.navbar-myphoto > .navbar-toggler {
  color: white;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
  background-color: gray;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover,
.nav-pills .nav-item.open .nav-link,
.nav-pills .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open .nav-link:hover {
  background-color: gray;
}

.navbar-myphoto > .navbar-toggler {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.navbar-myphoto .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8, <svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M423h22' /></svg>")
}

h1, h2, h3, h4, h5, h6, .nav, .navbar {
  font-family: 'Poiret One', cursive;
}

body {
  font-family: 'Lato', cursive;
}

.alert-danger {
  background-color: #a94342;
  color: white;
}

footer p {
  display: inline;
  margin-left: 10px;
}

footer a {
  color: inherit;
}

#services-events .container {
    margin-left: 2rem;
    padding-top: 1rem;
}

#services-events-content div {
    display: none;
}

#services-events-content div img {
    margin-top: 0.5em;
    margin-right: 1em;
}

#services-events-content {
    height: 15em;
    overflow-y: scroll;
    width: 95%;
}

.myphoto-testimonial-row {
  margin-right: 5px;
}

.myphoto-testimonial-column {
  border: 1px solid #000000;
  padding: 10px;
  margin: 5px;
}

.myphoto-testimonial-grid {
  padding-top: 30px;
}

.myphoto-testimonial-grid[data-columns]::before {
  content: '4 .column.size-1of4.animated.bounceIn'
}

.column {
  float: left;
}

.size-1of4 {
  width: 25%;
}

.hide-before-animated {
  visibility: hidden;
}

.hide-before-animated.animated {
  visibility: visible;
}

.myphoto-chevron-down.hvr-icon-bob:before {
  content: "\f078";
}

/* .myphoto-chevron-down.hvr-icon-bob {
  vertical-align: top;
} */

.carousel-item {
  height: 400px;
}
